.full__result__container {    
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    width: 100%;
    height: calc(100% - 55px);
}

.sidebar__container {
    width: 20%;
    border-right: 1px solid #c9c9c9;
    overflow: auto;
    background: #efebed;
}

.results__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background: #fafafa;
}

span {
    text-decoration: underline;
}

.result__item__container {
    width: 100%;
}

.sidebar__card {
  margin: 10px;
}

.sidebar__textarea {
  width: 100%;
}
