.result__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 0 40px;
}

.img__wrapper {
  display: flex;
  width: 200px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
}

.image {
  width: 100%;
  object-fit: contain;
}

.answer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 0 0 0 20px;
}

.users__mark__true,
.users__mark__false {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px;
}

.users__mark__true {
  background-color: #FF4081;
}

.users__mark__false {
  background-color: #3e4db8;
}

.comments__field__title {
  font-size: 16px;
}

.comments__field {
  display: flex;
  justify-content: space-around;
  height: 110px;
}

.comment__positive,
.comment__negative {
  width: 46%;
  overflow: hidden;
  padding-bottom: 10px;
}

.comment__positive {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.comment__negative {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.btn__like,
.btn__dislike {
  margin-left: 15px;
}

.comment__field { 
  width: 100%;
}

.comment__field textarea {
  height: 35px;
  resize: none;
}

.empty {
  color: rgba(175, 181, 191, .9);
}
