.test__result__table__container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.count__images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
}

.test__result__table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.test__result__row {
    display: flex;
    width: 100%;
}
