<mat-card class="example__card"
          [class.selected]="currentSelected == model">

  <mat-card-header>
    <div mat-card-avatar class="header__index" 
         [class.index__marked]="model.mark">
      <span> {{ index }} </span>
    </div>
    <mat-card-title> {{ model.name }} </mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="model.mark; else empty_text">
        <span class="like__notification">You like it!</span>
      </div>
      <ng-template #empty_text>
        <br>
      </ng-template>
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="model.url" [alt]="model.name">

  <mat-card-actions>
    <div *ngIf="!model.mark; else unset">
      <button mat-button color="primary" (click)="model.mark = true">LIKE</button>
    </div>
    <ng-template #unset>
      <button mat-button color="accent" (click)="model.mark = false">DISLIKE</button>
    </ng-template>
  </mat-card-actions>

</mat-card>
