.example__card {
  margin: 10px;
}

.header__index {
  border-radius: 50%;
  font-weight: bold;
  background-color: #3e4db8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.index__marked {
  background-color: #FF4081;
}

.selected {
  border: 1px solid #3e4db8;
  background-color: #eaebff;
  transition: 0.2s;
}

.like__notification {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: #FF4081;
  padding: 5px;
  border-radius: 5px;
}
