<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="nav-bar">
    <app-sidebar-thumbnail></app-sidebar-thumbnail>
    <app-sidebar-thumbnail></app-sidebar-thumbnail>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <app-test-content 
    [currentModel]="currentModel"
    (onSaveComment)="testComponentSave()"
    (onSend)="testComponentSend()"
    (onChoose)="testComponentChoose()">

    </app-test-content>
  </mat-drawer-content>
</mat-drawer-container>
