.example-container {
    height: 100vh;
}

.nav-bar {
    border-right: 2px solid lightgrey;
    width: 20%;
    min-width: 200px;
}

.main-content {
    width: 80%;
    min-width: 500px;
}

.nav-bar,
.main-content {
    /* padding: 5px 10px; */
}
