.main__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: stretch;
}



.sidebar__container {
    width: 20%; 
    overflow-y: auto;
    border-right: 2px solid lightgray;
}

.test__container {
    width: 80%;
}