<p>
  Hello👋 <br>
  Don't worry, there are no any timers and you can work as long as you wish. Also you can continue your work on another
  device 📱 💻 🖥.
</p>

<mat-list role="list">
  <mat-list-item role="listitem">1. Look through all the templates and choose 5 which are the best to your mind 🖼;</mat-list-item>

  <mat-list-item role="listitem">2. Try to comment each of them. Describe their pros and cons in "Positive" and "Negative" fields correspondingly🗞;</mat-list-item>
 
  <mat-list-item role="listitem">
    3. <mat-icon class="btn__open__close__sidebar">keyboard_arrow_left</mat-icon> and <mat-icon class="btn__open__close__sidebar">keyboard_arrow_right</mat-icon> buttons open and close sidebar with templates;
  </mat-list-item>

  <mat-list-item role="listitem">
    4. Click the <span class="btn__continue">Preview selected</span> to go to summary table ;
  </mat-list-item>

  <mat-list-item role="listitem">
    5. Don't be afraid of clicking it because you will be able to come back here and make changes ↩️;
  </mat-list-item>
</mat-list>
<button mat-stroked-button class="btn__got__it" [mat-dialog-close]="" >Got it!</button>