.wrapper {
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
}

.switch__wrapper {
  display: flex;
  flex-direction: column;
}

.toggle__btn {
  flex-grow: 1;
}

.result__table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.result__row {
  display: flex;
  width: 100%;
}
