<div class="wrapper">
    <mat-card>
        <form class="example-form">
            <mat-toolbar>
                <span>Sign In</span>
            </mat-toolbar>
            
            <mat-form-field type="text" class="example-full-width">
              <input matInput placeholder="Enter your email" required>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
    
            <button mat-raised-button color="primary">LOGIN</button>
          </form> 
    </mat-card>
</div>