<div class="wrapper">
  <div class="logo__container">
    <img class="logo__icon" src="../../../../assets/fire.svg" alt="logo" />
    <h1 class="logo__title">Test Design Playbook</h1>
  </div>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Thank you for passing the test!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card__description">
      Your results will be processed as soon as possible. Please be patient and wait for our response at email.
    </mat-card-content>
  </mat-card>
</div>