<div class="navbar__empty__space"></div>
<nav class="navbar">
  <div class="navbar__links">
    <!-- <img class="navbar__icon" src="../../../../assets/fire.svg" alt="logo" /> -->

    <!-- <a mat-button routerLink="/admin/links" class="link"></a> -->
      <!-- <div class="navbar__title">Test design playbook</div> -->
    <!-- </a> -->

    <div class="link__wrapper logo" routerLink="/admin/links">
        <img class="navbar__icon" src="../../../../assets/fire.svg" alt="logo" />
        <div class="navbar__title">Test design playbook</div>
    </div>

    <div class="link__wrapper">
      <a mat-button routerLink="/admin/links" class="link">
        <mat-icon class="link__icon">create</mat-icon>
        Applicant
      </a>
    </div>
    <div class="link__wrapper">
      <a mat-button routerLink="/admin/results" class="link">
        <mat-icon class="link__icon">archive</mat-icon>
        Results
      </a>
    </div>
    <div class="link__wrapper">
      <a mat-button routerLink="/admin/tasks" class="link" disabled="disabled">
        <mat-icon class="link__icon">folder</mat-icon>
        Tasks
      </a>
    </div>
  </div>

  <div class="navbar__links">
    <a mat-button routerLink="/admin/settings" class="link">
      <mat-icon class="link__icon">account_circle</mat-icon>
      Profile
    </a>
    <a mat-button routerLink="/admin/login" (click)="deleteToken()" class="link">
      <mat-icon class="link__icon">exit_to_app</mat-icon>
      Log out
    </a>
  </div>
</nav>
