.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3f51b5;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 777;
}

.navbar__icon {
  height: 30px;
  width: 30px;
}

.navbar__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__title {
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-right: 15px;
}

.link {
  margin: 0 5px;
  color: white;
}

.navbar__empty__space {
  width: 100%;
  height: 55px;
}
