<div class="wrapper">
  <mat-card class="card">

    <mat-card-header>
      <mat-card-title>
        Something went wrong!
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="card__description">
      On the next page you'll see 23 templates and your task is to choose 5 of them which, to your mind, are the best.
      <span>
      So as to choose the template you need to tick it.
      </span>
      Please click the button "GET STARTED" if you are ready. Good luck.
    </mat-card-content>

    <mat-card-actions>
      <a color="primary" routerLink="/main" mat-raised-button> GET STARTED </a>
    </mat-card-actions>

  </mat-card>
</div>
