.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url('../../../../assets/get-started-background.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.logo__container {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo__icon {
  width: 120px;
  height: 120px;
}

.logo__title {
  margin-left: 10px;
}

.card {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__description {
  padding: 20px;
  text-align: justify;
  text-indent: 30px;
}

.contact__as__message {
  font-size: 10px;
  position: absolute;
  bottom: 10px;
}
