<div class="wrapper">
  <mat-card class="card">

    <mat-card-header>
      <mat-card-title>
        Hello, {{applicant.first_name}}!
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="card__description">
      On the next page you'll see 23 templates and your task is to choose 5 of them which, to your mind, are the best.
      <span>
      So as to choose the template you need to tick it.
      </span>
      Please click the button "GET STARTED" if you are ready. Good luck.
    </mat-card-content>

    <mat-card-actions>
      <a color="primary" routerLink="/main" mat-raised-button> GET STARTED </a>
    </mat-card-actions>
    <span class="contact__as__message">It's not your name? Please contact with as <a href="mailto:admin@tdp.in6k.com?subject=Wrong applicant name.&body=I mistakenly received an invitation to pass the test. Service information: {{applicant.token}}.">admin@tdp.in6k.com</a></span>

  </mat-card>
</div>
