<mat-sidenav-container class="main__container">
    <mat-sidenav
      class="sidebar__container"
      #sidenav 
      mode="side"
      [(opened)]="opened">
      <app-sidebar 
        class="sidebar__content" 
        [models]="currentModel"
        [currentSelectedModel]="currentSelectModel"
        (onSelect)="sideBarSelect($event)">
      </app-sidebar>
    </mat-sidenav>
  
    <mat-sidenav-content class="test__container">
      <app-test-content
        class="test__content" 
        [currentSelectedModel]="currentSelectModel"
        [countCheckedElements]="currentSelectedCount"
        (onNextImg)="nextImg()"
        (onPrevImg)="prevImg()"
        (onSaveGoodComment)="commentSaveGood()"
        (onSaveBadComment)="commentSaveBad()"
        (onSend)="testComponentSend()"
        (onChoose)="testComponentChoose()"
        (onOpenCloseSidebar)="sidenav.toggle()"
        [opedenClosedSidebar]="opened"
        (onSelect)="sideBarSelect($event)">
      </app-test-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
