.main__container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fafafa;
}

.sidebar__container {
  width: 20%;
  border-right: 1px solid lightgray;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.test__container {
  width: 100%;
}

.test__content {
  width: 80%;
}