app-sidebar-thumbnail {
  cursor: pointer;
}

.task__info__card {
  margin: 10px;
  cursor: pointer;
}

.warning__message {
  color: indianred;
}

.task__info__title,
.warning__message {
  font-weight: bold;
}

.task__elements {
  height: 100%;
  overflow-y: auto;
}