<div class="navbar__empty__space"></div>
<nav class="navbar">
  <div class="navbar__links">
    <img class="navbar__icon" src="../../assets/fire.svg" alt="logo"/>
    <div class="navbar__title">Test design playbook</div>
    <a mat-button routerLink="/admin/links" class="link">Links</a>
    <a mat-button routerLink="/admin/results" class="link">Results</a>
    <a mat-button routerLink="/admin/tasks" class="link" disabled="disabled">Tasks</a>
  </div>

  <div class="navbar__links">
    <a mat-button routerLink="/admin/login" (click)="deleteToken()" class="link">Log out</a>
  </div>
</nav>
