mat-card, .info__number, .card__wrapper, .wrapper, .info__group, .content, .button__containet {
  display: flex;
}

.content, .button__containet {
  margin: 0 10px;
}

mat-card {
  width: 900px;
  height: fit-content;
  margin: 10px 0;
  justify-content: space-between;
}

.info__group.number {
  padding: 10px;
  border-right: 1px solid red;
  margin: 0 20px;
}

mat-card, .info__number, .button__containet {
  align-items: center;
}

.content {
  flex-direction: column;  
}

.new__data {
  margin: 0 20px 0 0;
}

.btn {
  width: 80px;
  margin: 5px;
}

.info {
  cursor: pointer;
}