* {
    font-size: 16px;
}

mat-card {
    margin-top: 15px;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.info__field {
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.info {
    font-weight: bold;
}

