.result__item__container {
    border: 1px solid black;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* background-color: red; */
    background-color: #fcb9b5;

    width: 100%;
}

.result__image__block {
    display: flex;
    flex: 1;
}

.result__information__block {
    margin: 5px 20px;
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.result__image {
    width: 250px;
    height: 250px;
    /* border: 1px solid red; */
}

.result__title {
    color: blue;
    font-size: 12px;
}

.result__value {
    color: blue;
    text-decoration: underline;
}

textarea {
    resize: none;
    width: 100px;
    height: 100px;
}

.right {
    /* background-color: green; */
    background-color: #a9fc72;
}
