* {
    box-sizing: border-box;
}

.result__item__container {
    display: flex;
    padding: 20px;
    margin: 20px;
    height: 90%;
    height: 80%;
}

.result__image__block {
    display: flex;
    height: 100%;
    align-items: center;
}

.result__information__block {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.result__image {
    width: 250px;
    height: 250px;
}

.result__title {
    margin-left: 15px;
}

.template__index {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3e4db8;
    color: white;
    border-radius: 50%;
}

mat-form-field {
    width: 100%;
    margin-top: 20px;
}

.right {
    color: cadetblue;
}

.wrong {
    color: indianred;
    margin: 10px;
}

.first__group {
    display: flex;
}

.index {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.comment {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin: 0 0 20px 0;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.comment__group {
    width: 100%;
    height: calc(100% - 20px);
    margin: 0 0 20px 0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.comment__group:first-child {
    margin: 0 10px 0 0;
    border-radius: 10px 0 0 10px;
}

.comment__group:last-child {
    margin: 0 0 0 10px;
    border-radius: 0 10px 10px 0;
}

.comment__child {
    display: block;
    width: 90%;
    height: 220px;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

.comment__child:first-child {
    margin: 0 20px 0 0;
}
