.full__result__container {    
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    width: 100%;
    height: 100%;
}

.sidebar__container {
    width: 20%;
    border-right: 1px solid #c9c9c9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #efebed;
}

.results__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background: #fafafa;
}

span {
    text-decoration: underline;
}

.result__item__container {
    width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
  margin: 0 0 0 0;
}

.sidebar__card {
  margin: 10px;
}

.sidebar__textarea {
  width: 100%;
}

textarea {
    width: 100%;
    resize: none;
}
