* {
  box-sizing: border-box;
}

.test__content {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  width: 100%;
}

.content__header {
  width: 100%;
  min-height: 70px;
  max-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  width: 85%;
  height: 100%;
  margin: 0;
}

.content__main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  border: 1px solid black;
  position: relative;
}

.empty {
  position: absolute;
  background: url('../../assets/models/bad_template_1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px) grayscale(50%);
  width: 100%;
  height: 100%;
}

.main__image__wrapper {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc(100%-20px);
  padding-right: calc(100%-20px);
}

img {
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  filter: 10px;
  object-fit: contain;
}

.image__size {
  display: inline-block;
  background-image: url('../../assets/resize.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

.image__checkbox {
  display: flex;
  right: 10px;
  position: absolute;
  height: 20px;
  z-index: 10000;
  top: calc(50% - 10px);
}

.content__footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 5px;
  padding: 5px 10px;
}

button, .button__send {
  height: fit-content;
  width: fit-content;
  background: #79c753;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}
