* {
  box-sizing: border-box;
}

.container__header {
  display: flex;
  width: 100%;
}

.counters {
  flex: 1;
  margin-right: 10px;
}

.warning__message {
  color: indianred;
}

.tasks {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.container__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.container {
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

h3 {
  margin: 0;
}

.main__image__card {
  margin: 10px 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.empty__wrapper {
  background: transparent;
  z-index: 5;
  position: absolute;
  border: 12px solid #fafafa;
  top: 3px; left: 3px;
  bottom: 3px; right: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}

.empty {
  position: absolute;
  z-index: 4;
  /* display: flex; */
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  filter: blur(3px) grayscale(50%);
  /* background: url('../../assets/models/Colorful-5.jpg'); */
  background-size: cover;
  top: 10px; left: 10px;
  bottom: 10px; right: 10px;
  border-radius: 5px; 
}

.main__image__wrapper {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}

img {
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.full__screen__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  width: 50px;
}

.full__screen__image__inner {
  width: 30px;
  height: 30px;
  transition: .2s;
  opacity: .5;
}

.full__screen__image__inner:hover {
  width: 40px;
  height: 40px;
  opacity: 1;
}

.image__status__checkbox {
  display: flex;
  right: 40px;
  position: absolute;
  height: 20px;
  z-index: 999;
}

.footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* classes for big picture */
.full__screen__content {
  position: absolute;
  height: 100vh;
  background: whitesmoke;
  z-index: 1001;
  width: 79%;
}

/* .blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/original.jpg");
  filter: blur(5px);
  z-index: 101;
}


.show__image {
  z-index: 90;
} */

.full__screen__content div {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  z-index: 102;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit__full__screen__image {
  height: 24px;
  width: 24px;
  transition: 0.1s;
}

.exit__full__screen__image:hover {
  height: 32px;
  width: 32px;
}

.comment {
  width: 100%;
  resize: none;
}
