<div class="test__content">
  <div class="content">
    <header class="content__header">
      <h2>Task: Choose 5 best image from 23. <br> Count of chosen images: <span class="count__images">{{countCheckedElements}}</span>/5
      </h2>
      <a routerLink="/finish" class="button__send" (click)="sendAnswers()" mat-button>Send</a>
    </header>

    <hr>

    <main class="content__main">
      <div class="empty"></div>
      <img src="{{ currentModel.url }}" />
      <div class="main__image__wrapper">
        <div class="image__size"></div>
        <input type="checkbox" class="image__checkbox" name="" id="" (click)="chooseImage(checkbox)" #checkbox>
      </div>
    </main>

    <hr>

    <footer class="content__footer">
      <!-- <textarea placeholder="Comment" class="comment" (ngModelChange)="checkParams(comment)" #comment>{{currentModel[0].comment}}</textarea>
      <button class="button__save" (click)="saveComment(comment)" disabled="disabled" mat-button>Save comment</button> -->

      <textarea placeholder="Comment" class="comment" #comment [(ngModel)]="currentModel.comment" ></textarea>
      <button class="button__save" (click)="saveComment(comment)" mat-button>Save comment</button>
    </footer>
  </div>
</div>