<div class="full__screen__content" [ngStyle]="{display: (isPictureOpened) ? 'block' : 'none'}">
  <img class="full__screen__image" src="{{ currentModel.url }}" alt="image"/>
  <button (click)="changeScreenMode()">X</button>
</div>

<div class="container__wrapper">
  <div class="container">

    <div class="container__header">
      <mat-card class="counters">
        Всього: 23 макети <br>
        Обрано: {{countCheckedElements}}/{{maxCountCheckedElements}}
        <span *ngIf="countCheckedElements > maxCountCheckedElements" class="warning__message">
            (обрано забагато елементів)
        </span>
      </mat-card>

      <mat-card class="tasks">
        <div>
          <h3>Завдання:</h3>
          Обрати {{maxCountCheckedElements}} найкращих макетів з 23 поданих
        </div>
        <button
          mat-raised-button
          color="accent"
          routerLink="/finish"
          (click)="sendAnswers()"
          [disabled]="countCheckedElements !== 5">
          Продовжити
        </button>
      </mat-card>
    </div>

    <mat-card class="main__image__card">
      <!--<div class="empty"></div>-->
      <img src="{{ currentModel.url }}"/>
      <div class="main__image__wrapper">
        <div class="full__screen__button" (click)="changeScreenMode()">
          <img src="../../assets/full-screen.svg" class="full__screen__image__inner"/>
        </div>
        <mat-checkbox
          class="image__status__checkbox"
          [(ngModel)]="currentModel.mark"
          (click)="chooseImage(checkbox)"
          #checkbox
          disabled="true">
        </mat-checkbox>
      </div>
    </mat-card>

    <footer class="footer">
      <mat-form-field class="comment">
          <textarea
            matInput
            placeholder="Leave comment about this image"
            #comment
            class="comment"
            [(ngModel)]="currentModel.comment">
          </textarea>
      </mat-form-field>
      <!-- <button class="button__save" (click)="saveComment(comment)" disabled="disabled" #button_save mat-button>Save comment</button> -->
    </footer>

  </div>
</div>
