<div class="card__wrapper">
  <mat-card class="card">
    <mat-card-title class="card__name">
      Привіт, 'Kористувач'
    </mat-card-title>
    <mat-card-content class="card__description">
      У наступному вікні перед вами буде 23 макети із яких вам потрібно обрати 5 найкращих.
      <span>
        Щоб обрати елемент, потрібно відмітити його.
      </span>
      Якщо готові, натисніть кнопку 'GET STARTED'.
    </mat-card-content>
    <mat-card-actions>
      <button class="card__button" mat-button> GET STARTED </button>
    </mat-card-actions>
  </mat-card>
</div>