<div class="wrapper">
  <mat-card class="card">

    <mat-card-header>
      <mat-card-title>
        Привіт, {{userName}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="card__description">
      У наступному вікні перед Вами буде 23 макети, з яких Вам потрібно обрати 5 найкращих.
      <span>
        Щоб обрати елемент, потрібно відмітити його.
      </span>
      Якщо готові, натисніть кнопку 'GET STARTED'.
    </mat-card-content>

    <mat-card-actions>
      <a color="primary" routerLink="/main" mat-raised-button> GET STARTED </a>
    </mat-card-actions>

  </mat-card>
</div>
