<div class="wrapper">
  <mat-card class="card">
    <mat-card-title class="card__name">
      Привіт, 'Kористувач'
    </mat-card-title>
    <mat-card-content class="card__description">
      У наступному вікні перед Вами буде 23 макети, з яких Вам потрібно обрати 5 найкращих.
      <span>
        Щоб обрати елемент, потрібно відмітити його.
      </span>
      Якщо готові, натисніть кнопку 'GET STARTED'.
    </mat-card-content>
    <mat-card-actions>
      <a class="card__button" routerLink="/main" mat-button> GET STARTED </a>
    </mat-card-actions>
  </mat-card>
</div>