body {
  display: flex;
}

.cat__empty__page {
  width: 100%;
  height: calc(100% - 55px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
}

.cat__center__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #a0a0a0;
}

.cat__center__img {
  margin: 0 auto;
  opacity: 0.5;
}

.cat__upper__text {
  text-shadow: 0 0 0 black;
  font-size: 50px;
  font-weight: bold;
}

.item__group {
  width: 900px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

/* FIX THESE STYLES */

.search__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search {
  margin-top: 15px;
  margin-bottom: 0;
  max-width: 500px;
  width: 100%;
}