<app-admin-navbar></app-admin-navbar>
<div class="wrapper">
  <div class="side__bar">
    <mat-card class="sidebar__title">Active links</mat-card>
    <app-admin-panel-link-info
        *ngFor="let userInfoItem of usersDateInforArray?.reverse()"
        [usersDataItem]="userInfoItem">
    </app-admin-panel-link-info>
  </div>

  <div class="main__content">
      <form>
          <mat-toolbar>
              <span>Link</span>
          </mat-toolbar>

          <mat-form-field type="text">
            <input matInput placeholder="Email" #email required autocomplete="off">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field type="text">
            <input matInput placeholder="Surname" #surname required>
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>

          <mat-form-field type="text">
              <input matInput placeholder="Name" #name required>
              <mat-icon matSuffix>perm_identity</mat-icon>
          </mat-form-field>

          <mat-form-field type="text">
            <input matInput placeholder="Second name" #secondName required>
            <mat-icon matSuffix>supervised_user_circle</mat-icon>
          </mat-form-field>

          <div>
            <button
              mat-raised-button
              color="primary"
              (click)="getLink(email.value, name.value, surname.value, secondName.value)">GET</button>
            <button
              mat-raised-button
              color="accent"
              class="send"
              (click)="sendLink(email.value, name.value, surname.value, secondName.value, token)"
              [disabled]="token.length == 0">SEND</button>
          </div>

          <mat-form-field appearance="outline">
              <mat-label>Invite link here...</mat-label>
              <input matInput placeholder="Try one more time..." value="{{ link }}" #linkField readonly>
              <mat-icon matSuffix class="copy__icon" (click)="copyLink(linkField)">link</mat-icon>
          </mat-form-field>
      </form>
  </div>
</div>
