<app-admin-navbar></app-admin-navbar>
<div class="wrapper">
  <div class="side__bar">
    <mat-card class="sidebar__title">Active applicants</mat-card>
    <div *ngIf="userDataInfoList.length !== 0 || !isAllLinkLoaded; else cat">
      <app-admin-panel-link-info
        *ngFor="let userInfoItem of userDataInfoList"
        (onDisable)="updateUsersDataList()"
        [usersDataItem]="userInfoItem">
      </app-admin-panel-link-info>
    </div>
    <ng-template #cat>
      <div class="side__bar cat__wrapper">
        <img src="../../../../assets/lazy_cat.png" class="cat__image" alt="Lazy cat">
        <p align="center">No active applicants here yet...</p>
        <p align="center">As long as the applicant<br>does not pass the test,<br>his/her info will be here</p>
      </div>
    </ng-template>
  </div>

  <div class="main__content">
    <div>
      <form #userDataForm="ngForm">
        <h2>Applicant</h2>

        <mat-form-field type="email">
          <input matInput type="email" placeholder="Email" autocomplete="off" ngModel #email name="email" required
                 email>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field type="text">
          <input matInput type="text" placeholder="Surname" #surname ngModel name="surname" required>
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>

        <mat-form-field type="text">
          <input matInput type="text" placeholder="Name" #name ngModel name="firstName" required>
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>

        <mat-form-field type="text">
          <input matInput type="text" placeholder="Second name" #secondName ngModel name="secondName">
          <mat-icon matSuffix>supervised_user_circle</mat-icon>
        </mat-form-field>

        <div>
          <button
            mat-raised-button
            class="create__invitation"
            type="submit"
            [disabled]="!userDataForm.valid"
            (click)="onSubmit(userDataForm)">CREATE APPLICANT
          </button>
          <button
            mat-raised-button
            color="accent"
            class="send"
            (click)="sendLink(email.value, name.value, surname.value, secondName.value, token)"
            [disabled]="token.length == 0">SEND
          </button>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Invite link here...</mat-label>
          <input matInput type="url" placeholder="Try one more time..." value="{{ link }}" #linkField readonly>
          <mat-icon matSuffix class="copy__icon" (click)="copyLink(linkField)">link</mat-icon>
        </mat-form-field>
      </form>
    </div>

    <div class="main__instruction">
      <h2>Instruction</h2>
      <p>To create a link you need to enter the following information about the applicant:</p>
      <ul style="list-style: none">
        <li>
          <mat-icon>email</mat-icon>
          E-mail *
        </li>
        <li>
          <mat-icon>face</mat-icon>
          Surname *
        </li>
        <li>
          <mat-icon>perm_identity</mat-icon>
          Name *
        </li>
        <li>
          <mat-icon>supervised_user_circle</mat-icon>
          Second name (Optional)
        </li>
      </ul>
      <p>Then press <b>CREATE INVITATION</b> button to get the link. After that, you can click <b>SEND</b> to send a letter with the invitation link to applicant.</p>
    </div>
  </div>
</div>