.wrapper {
    width: 100%;
    height: calc(100% - 56px);
    display: flex;
    align-items: stretch;
}

.side__bar {
    min-width: 200px;
    width: 20%;
    background-color: #eeeeee;
    padding: 0 0 0 10px;
    overflow-y: auto;
}

.sidebar__title {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}

.main__content {
    width: 70%;
}

form {
    width: 300px;
    height: 500px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form,
mat-toolbar {
    background-color: white;
    width: 380px;
}
  
.send {
    margin-left: 10px;
}

.copy__icon {
   cursor: pointer;
   transition: all .1s linear;
}

.copy__icon:hover {
    transform: scale(1.2);
}



