<app-admin-navbar></app-admin-navbar>
<div class="main__container">
  <div>
    <mat-button-toggle-group vertical class="left__toggle__menu">
      <mat-button-toggle (click)="openProfile()">Profile</mat-button-toggle>
      <mat-button-toggle (click)="openSecurity()">Security</mat-button-toggle>
      <mat-button-toggle (click)="openEmail()">E-mail</mat-button-toggle>
      <mat-button-toggle (click)="openNotification()">Notification</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="central__container" [ngSwitch]="currentMenus">

    <div *ngSwitchCase="MENU_PROFILE" class="child__setting__page">
      <h2>Profile</h2>
      <mat-divider></mat-divider>
      <p><b>Name: </b> {{ employer.name }}</p>
      <p><b>Login: </b> {{ employer.login }}</p>
      <p><b>E-Mail: </b> {{ employer.email }}</p>
    </div>

    <div *ngSwitchCase="MENU_SECURITY" class="child__setting__page">
      <h2>Change password</h2>
      <mat-divider></mat-divider>
      <mat-form-field class="input__width">
        <input matInput placeholder="Old password" #oldPassword type="password">
      </mat-form-field>

      <mat-form-field class="input__width">
        <input matInput placeholder="New password" #newPassword type="password">
      </mat-form-field>

      <mat-form-field class="input__width">
        <input matInput placeholder="Confirm new password" #confirmPassword type="password">
        <mat-hint>Make sure it's more than 15 characters OR at least 8 characters including a number and a lowercase letter.</mat-hint>
      </mat-form-field>
      <div class="update__button__wrapper">
        <button mat-raised-button (click)="changePassword(oldPassword, newPassword, confirmPassword)" color="accent"
                class="update__password__button">Update password</button>
      </div>
    </div>

    <div *ngSwitchCase="MENU_EMAIL" class="child__setting__page">
      <h2>Change e-mail</h2>
      <mat-divider></mat-divider>
      <p class="input__width">
        Current e-mail: {{ employer.email }}
      </p>

      <mat-form-field class="input__width">
        <input matInput placeholder="New email" #newEmail type="email">
      </mat-form-field>

      <div>
        <button mat-raised-button (click)="changeEmail(newEmail)" color="accent"
                class="update__password__button">Update e-mail</button>
      </div>
    </div>

    <div *ngSwitchCase="MENU_NOTIFY" class="child__setting__page">
      <h2>Notification</h2>
      <mat-divider></mat-divider>

      <div *ngIf="!employer.notify; else unsubscribe">
        <p>You are not currently notified of each applicant's completion of the test</p>
        <button mat-raised-button (click)="subscribeToNotify()" color="accent"
                class="update__password__button">Subscribe</button>
      </div>
      <ng-template #unsubscribe>
        <div>
          <p>You now receive a notification of each applicant's completion of the test</p>
          <button mat-raised-button (click)="unsubscribeFromNotify()" color="accent"
                  class="update__password__button">Unsubscribe</button>
        </div>
      </ng-template>
    </div>

  </div>
</div>
