.main__container {
  display: flex;
}

.left__toggle__menu {
  margin: 15px;
  width: 250px;
}

.central__container {
  margin: 15px 15px 15px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.input__width {
  width: 400px;
}

.update__pass__btn__container {
  margin-top: 30px;
}