<app-admin-navbar></app-admin-navbar>
<div class="main__container">
  <div>
    <mat-button-toggle-group vertical class="left__toggle__menu">
      <mat-button-toggle disabled="disabled">Profile</mat-button-toggle>
      <mat-button-toggle>Security</mat-button-toggle>
      <mat-button-toggle disabled="disabled">E-mail</mat-button-toggle>
      <mat-button-toggle disabled="disabled">Notification</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="central__container">
    <h2>Change password</h2>
    <mat-divider></mat-divider>
    <mat-form-field class="input__width">
      <input matInput placeholder="Old password" #oldPassword type="password">
    </mat-form-field>

    <mat-form-field class="input__width">
      <input matInput placeholder="New password" #newPassword type="password">
    </mat-form-field>

    <mat-form-field class="input__width">
      <input matInput placeholder="Confirm new password" #confirmPassword type="password">
    </mat-form-field>
    <span class="info__text">Make sure it's more than 15 characters OR at least 8 characters including a number and a lowercase letter.</span>
    <div>
      <button mat-raised-button (click)="changePassword(oldPassword, newPassword, confirmPassword)" color="accent"
              class="update__password__button">Update password</button>
    </div>
  </div>
</div>
