mat-card, 
.card__wrapper,
.wrapper, 
.info__group, 
.content, 
.button__container {
  display: flex;
}

.content,
.button__container {
  margin: 0 10px;
}

mat-card {
  width: 900px;
  height: fit-content;
  justify-content: space-between;
  margin: 10px 0;
}

.info__group.date {
  padding: 0 10px;
  border-right: 1px solid red;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

mat-card, 
.button__container {
  align-items: center;
}

.content {
  flex-direction: column;  
}

.new__data {
  margin: 0 20px 0 0;
}

.btn {
  width: 80px;
  margin: 5px;
}