<div class="test__content__container">

  <div class="main__image__container" (keyup)="changeTemplate($event)" tabindex="0">
    <img [src]="currentSelectedModel.model.url" class="img" alt="current model" />
    <div class="left__arrow"
         (click)="openPrevImage()"
         matTooltip="Go to previous template"
         matTooltipPosition="above">
      <mat-icon class="scroll__page__icon">chevron_left</mat-icon>
    </div>
    <div class="right__arrow"
         (click)="openNextImage()"
         matTooltip="Go to next template"
         matTooltipPosition="above">
      <mat-icon class="scroll__page__icon">chevron_right</mat-icon>
    </div>
  </div>

  <div class="control__panel">
      <button class="btn__open__close_sidebar"
              mat-icon-button color="primary"
              (click)="openCloseSidebar()">      
        <mat-icon
          class="open__close__sidebar__icon" 
          *ngIf="opedenClosedSidebar; else sidebarIsClosed"
          aria-label="icon"
          matTooltip="Close sidebar"
          matTooltipPosition="above">keyboard_arrow_left
        </mat-icon>
        <ng-template #sidebarIsClosed>
          <mat-icon 
            class="open__close__sidebar__icon"
            aria-label="icon"
            matTooltip="Open sidebar"
            matTooltipPosition="above">keyboard_arrow_right
          </mat-icon>
        </ng-template>
      </button>

      <div class="like__dislike__container">
        <button
          *ngIf="!currentSelectedModel.mark; else unset"
          mat-raised-button
          color="primary"
          (click)="selectModel()">LIKE</button>
        <ng-template #unset>
          <button
            mat-raised-button
            color="accent"
            (click)="selectModel()">DISLIKE</button>
        </ng-template>
        <span
          *ngIf="currentSelectedModel.mark"
          class="like__notification">You like it!</span>
      </div>

      <div class="progress__info">
        <p class="prorgess__info__text">
          <span class="text__bold">Selected: </span>
          <span [class.warning__message]="countCheckedElements > maxCountCheckedElements"
                [class.text__bold]="countCheckedElements > maxCountCheckedElements">
            {{ countCheckedElements }}/{{ maxCountCheckedElements }}.
          </span>
        </p>
      </div>

      <button
        mat-button
        color="primary"
        class="btn__help"
        (click)="openHelpDialog()">Help</button>

      <button
        mat-raised-button
        matTooltip="Finish test"
        matTooltipPosition="above"
        color="accent"
        class="btn__continue"
        (click)="moveToNextPage()"
        [disabled]="countCheckedElements !== 5">
        Preview selected
      </button>
  </div>

  <footer class="comments__contaner">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="comment__tab__icon">thumb_up</mat-icon>
          Positive
        </ng-template>
        <mat-form-field class="comment__field">
          <textarea matInput placeholder="Leave positive comment about this image" class="comment__field__text"
            [(ngModel)]="currentSelectedModel.comment.good" (blur)="saveCommentGood($event)">
            </textarea>
        </mat-form-field>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="comment__tab__icon">thumb_down</mat-icon>
          Negative
        </ng-template>
        <mat-form-field class="comment__field">
          <textarea matInput placeholder="Leave negative comment about this image" class="comment__field__text"
            [(ngModel)]="currentSelectedModel.comment.bad" (blur)="saveCommentBad($event)">
            </textarea>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </footer>

  </div>