* {
  box-sizing: border-box;
}

.counters {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.btn__continue {
  display: flex;
  align-self: center;
}

/* test content */
.test__content__container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.main__image__container {
  flex-grow: 1;
  overflow-y: auto;
}

.img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

/* control panel */
.control__panel {
  /* height: 70px; */
  display: flex;
  padding: 15px 10px;
  align-items: center;
  background-color: #EEEEEE;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.btn__open__close_sidebar {
  color: white;
  background-color: #3e4db8;
}

.btn__help,
.like__dislike__container,
.progress__info {
  margin-left: 20px;
}

.like__dislike__container {
  width: 170px;
}

.progress__info .prorgess__info__text {
  margin: 0;
}

.text__bold {
  font-weight: bold;
}

.warning__message {
  color: #DD2C00;
}

.like__notification {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: #FF4081;
  padding: 5px;
  border-radius: 5px;
}

.btn__continue {
  margin-left: auto;
}

/* arrows */
.left {
  left: 14px;
  width: calc(30% - 10px);
  height: calc(100% - 25px);
  position: absolute;
  z-index: 750;
  cursor: pointer;
}

.right {
  right: 14px;
  width: calc(70% - 25px);
  height: calc(100% - 25px);
  position: absolute;
  z-index: 750;
  cursor: pointer;
}

/* footer and textareas */
.comments__contaner {
  height: 145px;
  margin: 5px 5px 0 5px;
}

.comment__tab__icon {
  margin-right: 8px;
}

.comment__field {
  width: 100%;
  margin-top: 10px;
}

.comment__field__text {
  resize: none;
}