<div class="test__content__container">

  <div class="main__image__container">
    <img [src]="currentModel.url" class="img" alt="current model" />
  </div>

  <mat-divider></mat-divider>

  <footer class="comments__contaner">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="comment__tab__icon">thumb_up</mat-icon>
          Positive
        </ng-template>
        <mat-form-field class="comment__field">
          <textarea matInput placeholder="Leave positive comment about this image" #comment class="comment__field__text"
            [(ngModel)]="currentModel.good_comment" (blur)="saveCommentGood($event)">
            </textarea>
        </mat-form-field>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="comment__tab__icon">thumb_down</mat-icon>
          Negative
        </ng-template>
        <mat-form-field class="comment__field">
          <textarea matInput placeholder="Leave negative comment about this image" #comment class="comment__field__text"
            [(ngModel)]="currentModel.bad_comment" (blur)="saveCommentBad($event)">
            </textarea>
        </mat-form-field>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <button mat-raised-button color="accent" (click)="moveToNextPage()" [disabled]="countCheckedElements !== 5"
            class="btn__continue">
            Continue
          </button>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </footer>

</div>