* {
  box-sizing: border-box;
}

.counters {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.btn__continue {
  display: flex;
  align-self: center;
}

/* test content */
.test__content__container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.main__image__container {
  flex-grow: 1;
  overflow-y: auto;
}

.img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

/* control panel */
.control__panel {
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.progress__info {
  border: 1px solid blue;
}

.btn__continue {
  margin-left: auto;
}

/* arrows */
.left {
  left: 14px;
  width: calc(30% - 10px);
  height: calc(100% - 25px);
  position: absolute;
  z-index: 750;
  cursor: pointer;
}

.right {
  right: 14px;
  width: calc(70% - 25px);
  height: calc(100% - 25px);
  position: absolute;
  z-index: 750;
  cursor: pointer;
}

/* footer and textareas */
.comments__contaner {
  height: 145px;
  margin: 5px 5px 0 5px;
}

.comment__tab__icon {
  margin-right: 8px;
}

.comment__field {
  width: 100%;
  margin-top: 10px;
}

.comment__field__text {
  resize: none;
}